.main{
    border-radius: 11px;
    margin: 40px 50px;
    background-color: #ffffff;
}
.navigation{
    margin: 0 50px;
}
body{
    background-color: #efefef;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}
.media-object{
    width: 39px;
    height: 39px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    padding-top:10px;
}
.profile .section a{
    margin-top:15px;
    padding-left: 30px;
    border: none;
}

.col-lg-3 ,.col-md-12 ,.col-sm-12 , .col-xs-12{
    padding-right: 0;
    padding-left: 0;
}
.row .form-group{
    margin-right: 30px;
}
textarea.form-control {
    height: 280px;
}
.list-group {
    padding-left: 0;
    margin-bottom: 0;
}
.left-l{
    padding-left: 30px;
}
.community-menu{
    font-size: 13px;
    color: #999999;
}
.community-hr{
    width: 100%;
    margin: 7px  0;
    padding-right: 10px;
}
.community-title{
    font-size: 20px;
    margin: 25px 0;
}
.community-left-l{
    padding: 25px 30px;

}
.community-border{
    border-left: 1px solid #EEEEEE;
    height: 300px;

}
.community-border-div{
    margin: 30px 0 0 15px;
    padding-right: 30px;
}
.community-border-hr{
    width: 100%;
    margin-top: 15px;
}
.community-media {
    margin-top: 25px;
}