.main{
    margin: 30px;
    background-color: #ffffff;
}
.navigation{
    margin: 0 30px;
}
body{
    background-color: #efefef;
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
